<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="p-t-30">
        <li *ngIf="this.usuario[0].id == 62" class="sidebar-item"><a
            class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
              class="mdi mdi-gauge"></i><span class="hide-menu">Administrador</span></a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item"><a routerLink="/listar" class="sidebar-link"><i class="fas fa-wrench"></i><span class="hide-menu"> Lista de Soportes </span></a></li>
          </ul>
        </li>
        <li *ngIf="this.usuario[0].id == 62 || this.usuario[0].id == 78" class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
            aria-expanded="false"><i class="fas fa-cog"></i><span class="hide-menu">Técnico</span></a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item"><a routerLink="/tecnico" class="sidebar-link"><i class="fab fa-windows"></i><span
                  class="hide-menu"> Soportes Asignados </span></a></li>
          </ul>
        </li>
        <li *ngIf="this.usuario[0].id != 62 && this.usuario[0].id != 78" class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
            aria-expanded="false"><i class="fas fa-user"></i><span class="hide-menu">Usuario</span></a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item"><a routerLink="/soportes" class="sidebar-link"><i class="fas fa-cogs"></i><span
                  class="hide-menu"> Soporte </span></a></li>
                  <li class="sidebar-item"><a (click)="mostarModal()" class="sidebar-link pointer"><i class="fas fa-cogs"></i><span
                    class="hide-menu"> Nuevo Ticket </span></a></li>
          </ul>
        </li>
        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
            aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu"> Cerrar Sesión </span></a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item"><a (click)="_usuario.logout()" class="sidebar-link pointer"><i
                  class="fas fa-power-off"></i><span class="hide-menu"> Salir </span></a></li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
