<div class="row">
    <div class="col-md-12">
        <div *ngIf="this.usuario[0].id != 62 && this.usuario[0].id != 78" class="text-right">
            <button (click)="mostarModal()" class="btn btn-success" type="button"><i class="fas fa-plus-circle"></i> Crear Ticket</button>
        </div>
        <div class="text-center">
            <address>
                <h1> &nbsp;<b class="cpo">Bienvenido</b></h1>

                <img src="./assets/images/logoCPO.png" alt="">
            </address>
        </div>
        
        <div class="text-center cpo" color="#1F618D">
                <h1>Sistema de Soporte Técnico</h1>
        </div>
    </div>

</div>

