<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Importacion de la cabecera  -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- Importacion de la cabecera  -->
    <!-- ============================================================== -->

    <app-sidebar></app-sidebar>

    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- <app-breadcrumb></app-breadcrumb> -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="card card-body printableArea">
                        <h3><b>CPO</b> <span class="pull-right"> SERVICES</span></h3>
                    </div>
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->


</div>


<app-modal-soporte></app-modal-soporte>